/* navbar */

.rtl .nav_container,
.rtl .footer {
  direction: rtl;
  font-family: "DroidArabicKufiRegular";
}

.rtl .custom_navbar {
  justify-content: flex-start;
}

.rtl .menu_toggle {
  right: unset;
  left: 36px;
}

.rtl .mb-logo {
  margin-right: -58px;
  margin-left: initial;
}

.rtl .desk-logo {
  left: initial;
  right: 20px;
}

.rtl .custom_navbar .nav-link,
.rtl .form_btn {
  text-align: right;
  font-size: 0.8rem;
}

.rtl .gear > span,
.rtl .vs_box > p {
  font-family: "DroidArabicKufiRegular";
}

.rtl .dropdown-menu h2 {
  text-align: right;
}

.rtl .h_arrow {
  margin-right: -6px;
}

.rtl .nav-item {
  margin: 0 10px;
}

.rtl .rotate {
  transform: rotate(-180deg);
}

/* Explore */

.rtl .explore-text {
  justify-content: flex-end;
  flex-direction: row-reverse;
}

/* news and upcomming */

.rtl #pills-tab {
  direction: rtl;
}

.rtl .test2::before {
  right: -32px;
}

.rtl .dp::before {
  right: -32px;
}

/* banner */

.rtl #g2 {
  margin-right: 63px;
}

.rtl #g3 {
  margin-right: 95px;
}

/* Top Button */

.rtl #buttonTop {
  left: 30px;
  right: inherit;
}

/* Footer */
